#num {
    color:#11aa11;
}

#check {
    color:#5511aa;
}

#act {
    color:#aa5511;
}

div {
    float:left;
    padding:20px;
}

#bottom {
    clear:both;
}

#member {
    color:#223311;
    text-align: center;
}

#center {
    color:#2233ff;
    text-align: center;
}

#center1 {
    text-align: center;
}
